.footer {
    position: relative;
    display: flex;
    width: fit-content;
    margin: 50px auto 0 auto;
    column-gap: 40px;
}

.footer-img {
    position: absolute;
    left: -35px;
    top: -18px;
}